name: "dockerhub-push-workflow"

on: 
  push:
    branches:
      - "main"

jobs:
  semantic-release:
    runs-on: ubuntu-latest
    outputs:
      new-release-published: ${{ steps.semantic.outputs.new-release-published }}
      new-release-version: ${{ steps.semantic.outputs.new-release-version }}
    steps:
      - name: checkout repo
        uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Install dependencies
        run: npm i

      - name: Run Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

  push-to-registry:
    runs-on: ubuntu-latest
    needs: semantic-release
    steps:
      - name: Checkout rpeo
        uses: actions/checkout@v6

      - name: Login dockerhub
        uses: docker/login-action@v3
        with:
            username: ${{ vars.DOCKERHUB_USERNAME }}
            password: ${{ vars.DOCKERHUB_ACCESSTOKEN }}
      
      - name: Build and push to Dockerhub
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/nodejs:${{ needs.semantic-release.outputs.new-release-version }}
          labels: ""