name: "continuous-integration"

on: 
  pull_request:
    branches:
      - "main"

jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Node.js Setup
        uses: actions/setup-node@v2
        with:
          node-version: 20.x
  
      - name: Install, test and build
        run: | 
          npm install
          npm run test
          npm run build
